.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

/* Header */

.App-header {
  width: 100%;
  margin: 0 auto 0;
  padding-top: 3em;
  color: black;
  z-index: 10;
  background-image: url('./icons/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 13.5vh;
}

.Light-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background: rgba(0, 0, 0, 0.3);
  z-index: 12;
  margin-top: 2em;
}

.App-header a {
  padding-right: 3em;
  color: white;
  text-decoration: none;
}

.App-title {
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 47px;
  padding: 4px;
}

/* Map Area */

.Map-area {
  width: 100%;
  height: 100%;
}

.Map-area h1 {
  padding-bottom: 19px;
}

.List-view-link-aside {
  text-decoration: none;
}

.List-view-link-aside span {
  margin: 10px 0 0 20px;
  font-size: 38pt;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: black;
}

.List-view-link svg {
  margin: 10px 0 0 auto;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  border: 0;
  font-size: 18pt;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  text-align: center;
  padding-bottom: 5px;
}

/* List View */

.List-view {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
  height: 100vh;
  margin-top: -100px;
  padding-top: 100px;
  position: relative;
  backface-visibility: hidden;
  will-change: overflow;
}

.Home-link {
  margin: 10px 0 2em auto;
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  text-align: center;
  padding-top: 5px;
}

.List-view-header-map {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.List-view-search {
  border-left: 40px solid #607d8b;
  max-width: 600px;
  min-width: 230px;
  padding: 2em 0;
  background-color: #cfd8dc;
  overflow: auto;
}

.List-view-search input {
  margin: 2em auto 0 13px;
  border: none;
  padding: 10px 0 10px 15px;
  font-size: 12pt;
  width: calc(100% - 50px);
}

.Markers-list {
  padding-left: 10px;
  margin: 2em 0;
  list-style: none;
  font-size: 12pt;
  font-weight: 300;
}

.Markers-list li {
  padding: 1em 0;
}

.Markers-list li a {
  text-decoration: none;
  color: black;
}

.Markers-list li a:hover {
  font-weight: bold;
}

/* Monument Details */

.Search-monument {
  background-image: url('./icons/glass.svg');
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  padding: 15px;
  float: right;
  margin-top: 1em;
  margin-right: 2em;
}

.Monument-details {
  text-align: center;
  font-size: 12pt;
  text-decoration: none;
}

.Wikipedia-data {
  margin: 20px;
  text-align: left;
}

.Wikipedia-data h3,
p,
a {
  padding: 10px;
}

.Wikipedia-data a {
  text-decoration: none;
  color: black;
}

.Wikipedia-data a:hover {
  font-weight: bold;
}

.Monument-images {
  margin-top: 2em;
}

.Monument-images ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.Monument-images ul li {
  list-style: none;
  padding: 10px;
}

.Monument-map h1 {
  padding-bottom: 4px;
}

.Monument-map .Light-box {
  height: 83px;
}

.Monument-map .List-view-link svg {
  padding-bottom: 0px;
}

/* No Page Match */

.No-match {
  margin-top: 4em;
}

/* Footer */

.App-footer {
  width: 50%;
  margin: 2em auto 3em auto;
  text-align: center;
  font-size: 12pt;
}

/* Responsive */

@media screen and (min-width: 700px) {
  .List-view-search {
    width: 550px;
  }
}

@media screen and (max-width: 850px) {
  .App-title {
    margin-top: 10px;
    font-size: 30px;
  }
  .App-header {
    margin-top: 0;
  }
}

@media screen and (max-width: 800px) {
  .App-header {
    padding-top: 2em;
    min-height: 140px;
  }
}

@media screen and (max-width: 700px) {
  .List-view-search {
    position: absolute;
    z-index: 20;
    width: 100px;
    top: 0;
    right: -15px;
    height: 100%;
    margin-top: 6em;
  }
  .List-view-search input {
    padding: 10px 0 10px 10px;
    text-align: left;
  }
  .Search-monument {
    margin-top: 15px;
    margin-right: 40px;
  }
}