.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

/* Header */

.App-header {
  width: 100%;
  margin: 3em auto 0;
  color: black;
  border-bottom: 5px solid #fd9f15;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
  min-height: 100px;
}

.App-header h1 {
  padding-left: 1em;
}

.App-header a {
  padding-right: 3em;
}

.App-title {
  font-weight: 100;
  font-size: 47px;
}

.App-header a {
  color: black;
  text-decoration: none;
}

/* Map Area */

.Map-area {
  width: 100%;
  height: 100%;
}

.List-view-link svg {
  margin: 10px 0 2em auto;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border: 0;
  font-size: 18pt;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  text-align: center;
  padding-top: 5px;
}

/* List View */

.List-view {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
  height: 70vh;
  margin-top: -100px;
  padding-top: 100px;
  position: relative;
  backface-visibility: hidden;
  will-change: overflow;
}

.Home-link {
  margin: 10px 0 2em auto;
  background-image: url('./icons/arrow.svg');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  text-align: center;
  padding-top: 5px;
}

.List-view-header-map {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.List-view-search {
  border-left: 40px solid #ccc;
  max-width: 600px;
  min-width: 230px;
  padding: 2em 0;
  background-color: #e4e4e4;
  overflow: auto;
}

.List-view-search input {
  margin: 3em 1em 0;
  border: none;
  padding: 10px 0 10px 15px;
  font-size: 16pt;
  width: 200px;
}

.Markers-list {
  margin: 2em 0;
  list-style: none;
  font-size: 16pt;
}

.Markers-list li {
  padding: 1em 0;
}

.Markers-list li a {
  text-decoration: none;
  color: black;
}

.Markers-list li a:hover {
  text-decoration: underline;
}

/* Monument Details */

.Search-monument {
  background-image: url('./icons/glass.svg');
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  padding: 15px;
  float: right;
  margin-right: 2em;
}

.Monument-details {
  padding-top: 1em;
  text-align: center;
  font-size: 14pt;
  text-decoration: none;
}

.Wikipedia-data {
  margin: 20px;
  text-align: left;
}

.Wikipedia-data h3,
p,
a {
  padding: 10px;
}

.Wikipedia-data a {
  text-decoration: none;
  color: black;
}

.Wikipedia-data a:hover {
  text-decoration: underline;
}

.Monument-images {
  margin-top: 2em;
}

.Monument-images ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.Monument-images ul li {
  list-style: none;
  padding: 10px;
}

/* No Page Match */

.No-match {
  margin-top: 4em;
}

/* Footer */

.App-footer {
  width: 50%;
  margin: 2em auto 3em auto;
  text-align: center;
  font-size: 12pt;
}

/* Responsive */

@media screen and (max-width: 850px) {
  .App-title {
    margin-top: 10px;
    font-size: 40px;
  }
  .App-header {
    margin-top: 1em;
  }
}

@media screen and (max-width: 800px) {
  .App-title {
    margin-top: 10px;
    font-size: 40px;
  }
  .App-header {
    margin-top: 1em;
    min-height: 140px;
  }
}

@media screen and (max-width: 700px) {
  .List-view-search {
    position: absolute;
    z-index: 20;
    width: 100px;
    top: 0;
    right: 0;
    height: 100%;
  }
  .List-view-search input,
  .Markers-list {
    font-size: 12pt;
  }
  .List-view-search input {
    padding: 10px 0 10px 10px;
    width: 150px;
    text-align: left;
  }
}